@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@layer utilities {
  .dark-rgba {
    color: rgba(0, 0, 0, 0.5);
  }

  .noto-serif {
    font-family: 'Noto Serif', serif;
  }

  .inter {
    font-family: 'Inter', sans-serif;
  }

  img {
    width: 100%;
    height: auto;
  }
}
